.container {
  margin: 40px auto;
  padding: 50px;
  max-width: 600px;
  border: 4px solid rgb(57, 57, 57);
  border-radius: 8px;
  background-image: url("https://media.istockphoto.com/id/1314540947/vector/scenery-with-coastline-sea-and-blue-sky.jpg?s=612x612&w=0&k=20&c=tuWK4uk4ZmzeQyIsUdmqyxYRGyqE5nJgqf50G2xoCXo=");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Dokdo", cursive;
  font-weight: 900;
  padding-top: 50px;
  text-align: right;
}
h2 {
  font-family: "Dokdo", cursive;
  color: rgb(79, 79, 79);
}
.col {
  color: rgb(55, 55, 55);
  font-size: 20px;
  font-family: "Baloo 2", cursive;
  text-align: center;
  border-radius: 10px;
}
.col:hover {
  color: rgb(115, 147, 95);
  cursor: pointer;
  background-color: rgb(147, 255, 255);
}
.col-4 {
  text-align: right;
  padding: 20px;
}

#location {
  background-color: rgb(129, 196, 255);
  border: 2px solid rgb(115, 167, 214);
  padding: 6px 5px;
  border-radius: 54%;
}

#location:hover {
  background-color: rgba(118, 118, 118, 0.2);
  border: 2px solid rgb(115, 167, 214);
}

#location:active {
  background-color: rgb(233, 233, 233);
}
.weather {
  font-size: 75px;
}

.today {
  background: rgb(255, 253, 109);
}

.min {
  font-family: "Geologica", sans-serif;
}
.temp {
  color: rgb(255, 255, 255, 0.8);
  text-align: right;
  font-size: 100px;
}
.temp:hover .current:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255, 0.8);
  cursor: text;
}

.units {
  position: relative;
  top: -60px;
  font-size: 40px;
}

#cels,
#fahr,
.pipe {
  display: inline;
  font-size: 20px;
  text-decoration: none;
  font-weight: 100;
  font-family: "Press Start 2P", cursive;
  color: rgb(255, 253, 109);
}

.pipe {
  color: aliceblue;
}

#display-city {
  background: rgb(232, 255, 163);
  border-radius: 0%;
  padding: 6px 8px;
  font-family: "Press Start 2P", cursive;
}

#cels:hover,
#fahr:hover {
  text-decoration: underline;
}

.temperature {
  display: inline;
  font-size: 100px;
  color: rgb(255, 253, 109);
  font-family: "Oi", cursive;
}

#button {
  border: 1px solid rgb(191, 255, 0);
  background-color: rgb(191, 255, 0);
  color: white;
  font-weight: 900;
  transition: 160ms ease-in-out;
  padding: 6px 8px;
}

#button:hover {
  background-color: rgb(255, 253, 109);
  border: 3px solid rgb(255, 253, 109);
  cursor: pointer;
}
.title {
  color: rgba(245, 245, 245, 0.702);
  font-family: "Oi", cursive;
  text-align: center;
  font-size: 30px;
}
.conclusion {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: rgb(186, 114, 0);
  display: block;
  margin-top: 30px;
  margin-bottom: 0px;
}
