.container {
  margin: 40px auto;
  padding: 50px;
  max-width: 600px;
  border: 4px solid rgba(57, 57, 57, 0.172);
  border-radius: 8px;
  background-image: url("https://i.pinimg.com/736x/c6/d5/b1/c6d5b1c92fc4777b11ef79e6b24c4df8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Dokdo", cursive;
  font-weight: 900;
  padding-top: 50px;
  text-align: right;
}

h2 {
  font-family: "Dokdo", cursive;
  color: rgb(79, 79, 79); 
}

#description {
  font-family: "Dokdo", cursive;
  font-size: 20px;
  color: rgb(204, 204, 204);
  font-weight: 100;
}

#windspeed,
#humidity {
  font-size: 40px;
  color: rgb(204, 204, 204);
  font-weight: 100;
  text-decoration: none;
  padding-right: 20px;
  font-family: "Baloo 2", cursive;
}

#windspeed:hover,
#humidity:hover {
  color: rgb(255, 234, 207);
}

.col {
  color: rgb(255, 247, 247);
  font-size: 20px;
  font-family: "Dokdo", cursive;
  text-align: center;
  border-radius: 10px;
}
.col:hover {
  color: rgb(129, 129, 129);
  cursor: pointer;
  background-color: rgb(160, 171, 255);
}
.col-4 {
  text-align: right;
  padding: 20px;
}

#location {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgb(255, 255, 255);
  padding: 6px 5px;
  border-radius: 54%;
}

#location:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid rgb(255, 255, 255);
}

#location:active {
  background-color: rgb(233, 233, 233);
}
.weather {
  font-size: 75px;
}

.today {
  background: rgb(255, 254, 177);
  color: rgb(42, 42, 42);
}

.min {
  font-family: "Dokdo", sans-serif;
}

.temp {
  color: rgb(255, 255, 255, 0.8);
  text-align: right;
  font-size: 100px;
}

.temp:hover .current:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255, 0.8);
  cursor: text;
}

.units {
  position: relative;
  top: -60px;
  font-size: 40px;
}

#cels,
#fahr,
.pipe {
  display: inline;
  font-size: 20px;
  text-decoration: none;
  font-weight: 100;
  font-family: "Press Start 2P", cursive;
  color: rgb(255, 253, 109);
}

#cels,
#fahr {
  color: rgb(253, 232, 204);
}

.pipe {
  color: aliceblue;
}

#display-city {
  background: rgb(255, 204, 157);
  border: 2px solid rgb(255, 159, 70);
  border-radius: 4px;
  padding: 6px 8px;
  margin-left: 60px;
  font-family: "Press Start 2P", cursive;
}

#cels:hover,
#fahr:hover {
  text-decoration: underline;
}

.temperature {
  display: inline;
  font-size: 100px;
  color: rgb(255, 253, 109);
  font-family: "Oi", cursive;
}

#button {
  border: 1px solid rgb(255, 159, 70);
  background-color: rgb(255, 159, 70);
  color: white;
  font-weight: 900;
  transition: 160ms ease-in-out;
  padding: 7px 8px;
  border-radius: 6px;
  margin-left: 50px;
}

#button:hover {
  background-color: rgb(255, 253, 109);
  color: rgb(160, 171, 255);
  border: none;
  cursor: pointer;
}

.title {
  color: rgba(245, 245, 245, 0.702);
  font-family: "Oi", cursive;
  text-align: center;
  font-size: 30px;
}

.github {
  color: rgb(158, 255, 97);
  text-decoration: none;
  cursor: pointer;
}

.github:hover {
  text-decoration: underline;
}

.conclusion {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  color: rgb(254, 255, 217);
  display: block;
  margin-top: 30px;
  margin-bottom: 0px;
}
